:root {
  --general-text-color: #434455;
  --footer-text-color: #f4f4fd;
  --title-text-color: #2e2f42;
  --primty-brand: #4d5ae5;
  --CTA: #404bbf;
  --port-but: #e7e9fc;
  --primary-white: #ffffff;
  --team-bg: #f4f4fd;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;

  /* temprorary */
  /* outline: 2px solid tomato; */
}

.img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--general-text-color);
}

/* logo */

.logotip {
  margin-right: 76px;
}

.logo {
  text-decoration: none;
  color: var(--primty-brand);
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo .link {
  text-decoration: none;
}

.web {
  color: var(--title-text-color);
}

.page-head {
  border-bottom: 1px solid var(--port-but);
}

.pg-hd {
  display: flex;
  width: 1158px;
  margin: 0 auto;
}

/* nav */
.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav > .item {
  margin-right: 40px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  text-decoration: none;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--CTA);
}

/* address */

.contact {
  display: flex;
  align-items: center;
}

.contact > .item {
  margin-left: 40px;
}

.address {
  list-style: none;
  font-style: normal;
}

.address .link:hover,
.address .link:focus {
  list-style: none;
  color: var(--CTA);
}

.address .link {
  text-decoration: none;
  color: var(--general-text-color);
}

/* buttons */

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  border: 1px solid transparent;
  display: inline-block;
}

.stu {
  color: var(--primary-white);
  background-color: var(--primty-brand);
  padding: 32px 16px;
}

.stu:hover,
.stu:focus {
  background-color: var(--CTA);
}

.port {
  color: var(--primty-brand);
  background-color: var(--team-bg);
  border: 1px solid var(--port-but);
}

.port:hover,
.port:focus {
  color: var(--primary-white);
  background-color: var(--CTA);
}

/* studio */

/* sections */

.section {
  padding-top: 120px;
  /* background-color: teal; */
}

/* hero */
.hero {
  background-color: var(--title-text-color);
  text-align: center;
}

.hero-title {
  color: var(--primary-white);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
}
.section-title {
  color: var(--title-text-color);
}

/* adventages */

.advent {
  display: flex;
  justify-content: center;
}

.advent > .item:not(:last-child) {
  margin-right: 24px;
}

.list {
  list-style: none;
}

.adv-title {
  visibility: hidden;
}

.adventages-title {
  color: var(--title-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.adventages .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
}
/* What are we doing */

.doing {
  display: flex;
  justify-content: center;
}

.doing .item {
  margin-right: 24px;
}

.doing .item:last-child {
  margin-right: 0;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-text-color);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

/* team */

.team {
  background-color: var(--team-bg);
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team .card {
  width: 264px;
  background-color: var(--primary-white);
  margin-bottom: 120px;
}

.team .card:not(:last-child) {
  margin-right: 24px;
}

.prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

/* portfolio */

.hide-title {
  visibility: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.btn > .item:not(:last-child) {
  margin-right: 24px;
}

.examples {
  list-style: none;
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.examples > .item {
  width:((100%-48px)/3);
  margin-right: 24px;
  margin-bottom: 48px;
  border: 1px solid var(--port-but);
}

.examples > .item:nth-child(3n) {
  margin-right: 0;
}

.examples > .item:nth-last-child(-n + 3) {
  margin-bottom: 120px;
}

.example-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.hide-title .list {
  list-style: none;
  text-decoration: none;
}

.examples .link {
  list-style: none;
  text-decoration: none;
}

.examples .text {
  color: var(--general-text-color);
}
/* footer */

.foot {
  display: block;
  width: 264px;
  justify-content: start;
}

.foot-site {
  background-color: var(--title-text-color);
  color: var(--footer-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  text-decoration: none;
  color: var(--primty-brand);
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-footer .web {
  color: var(--footer-text-color);
}

.foot-site p {
  margin-top: 18px;
}
